<!DOCTYPE html>
<html>
  <head>
    <style>
      body {
        background-color: #ffffff;
      }
    </style>
    <title>ESP Captive Portal</title>
  </head>
  <body>
    <h1>ESP Captive Portal</h1>
    <p>Hello World, this is ESP32!</p>
    <form action="/">
      <label for="ssid">Wi-Fi SSID:</label>
      <input type="text" id="ssid" name="ssid"><br><br>
      <label for="passw">Password:</label>
      <input type="text" id="passw" name="passw"><br><br>
      <button type="submit" formmethod="post">Save</button>
    </form>
  </body>
</html>
